<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Hello World</h1>
    
    {% for m in data %}
    <p>{{m}}</p>
    {% endfor %}
    
    <form action="/answer" method="POST">
        <input type="text" name="question" placeholder="How are you?" />
        <input type="submit" value="Tell Me" />
    </form>
    
</body>
</html>